@page "/user/login"
@layout UserLayout
@inject IAuthenticationService authService
@inject NavigationManager navManager

<h3>Login</h3>

@if (!string.IsNullOrEmpty(_message))
{
    <div class="alert alert-danger">
        <p>@_message</p>
    </div>
}

<Form Model="loginModel" OnFinish="HandleLogin" Layout="@FormLayout.Horizontal" ValidateOnChange="true">
    <FormItem Label="UserName">
        <Input @bind-Value="@context.UserName" Placeholder="请输入用户名"></Input>
    </FormItem>
    <FormItem Label="Password">
        <InputPassword @bind-Value="@context.Password" Placeholder="请输入密码"></InputPassword>
    </FormItem>
    <FormItem>
        <Button Type="@ButtonType.Primary" HtmlType="Submit">Submit</Button>
    </FormItem>
</Form>


@code {

    LoginUserDto loginModel = new();
    private string? _message;

    private async Task HandleLogin()
    {
        var response = await authService.AuthenticateAsync(loginModel);

        if (response.Success)
        {
            navManager.NavigateTo("/");
        }

        _message = response.Message;
    }

}