@page "/user/register"
@layout UserLayout
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager
@inject MessageService MessageService

<PageTitle>Register</PageTitle>

<div class="main__b__1">
    <div class="register">
        <h3>注册</h3>
        <Form Model="_user">
            <FormItem>
                <Input Placeholder="请输入用户名" @bind-Value="@context.UserName" Size="@InputSize.Large"></Input>
            </FormItem>

            <FormItem>
                <Input Placeholder="请输入密码" @bind-Value="@context.Password" Size="@InputSize.Large" Type="password"></Input>
            </FormItem>

            <FormItem>
                <Input Placeholder="再次输入密码" @bind-Value="@context.ConfirmPassword" Size="@InputSize.Large" Type="password"></Input>
            </FormItem>

            <FormItem>
                <Input Placeholder="请输入邮箱" @bind-Value="@context.Email" Size="@InputSize.Large" Type="email"></Input>
            </FormItem>

            <FormItem>
                <Button Type="submit" Size="large" Class="submit" OnClick="HandleRegistration">注册</Button>
                <NavLink class="login" href="/user/login">Log in with an existing account</NavLink>
            </FormItem>
        </Form>
    </div>
</div>


@code {
    private readonly RegisterUser _user = new();

    private async Task HandleRegistration()
    {
        var response = await AuthService.RegisterAsync(_user);

        if (response.Success)
        {
            NavManager.NavigateTo("/login");
        }
        else
        {
            await MessageService.Error(response.Message);
        }
    }

}