@page "/books/create"
@inject IBookService BookService
@inject NavigationManager NavigationManager
@inject ICategoryService CategoryService

<PageContainer Title="创建书籍">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Book</BreadcrumbItem>
            <BreadcrumbItem>Create</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Form Model="_book" OnFinish="HandleBookCreate">
                <FormItem>
                    <Input @bind-Value="@_book.Title" Placeholder="请输入书籍名称"/>
                </FormItem>
                <FormItem>
                    <Input @bind-Value="@_book.Summary" Placeholder="请输入简介"/>
                </FormItem>
                <FormItem>
                    <Input @bind-Value="@_book.Author" Placeholder="请输入作者"/>
                </FormItem>
                <FormItem>
                    <Input @bind-Value="@_book.Isbn" Placeholder="请输入Isbn"/>
                </FormItem>
                <FormItem>
                    <Input @bind-Value="@_book.Price" Placeholder="请输入价格" Type="number"/>
                </FormItem>
                <FormItem>
                    <Input @bind-Value="@_book.Location" Placeholder="请输入位置"/>
                </FormItem>
                <FormItem>
                    <Input @bind-Value="@_book.Image" Placeholder="请输入图片链接地址"/>
                </FormItem>
                <FormItem>
                    <Input @bind-Value="@_book.Pages" Placeholder="请输入页数" Type="number"/>
                </FormItem>
                <FormItem>
                    <AutoComplete @bind-Value="_book.Category" Options="@_categories" Placeholder="请输入类别"/>
                </FormItem>
                <FormItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">创建书籍</Button>
                </FormItem>
                <Button OnClick="@(() => NavigationManager.NavigateTo("/books/"))">返回列表</Button>
            </Form>
        </Card>
    </ChildContent>
</PageContainer>


@code {

    private readonly BookCreateDto _book = new();
    private List<string> _categories = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await CategoryService.GetAsync(new CategoryQueryParameters());
        if (response.Success)
        {
            _categories = response.Data.Select(category => category.Name).ToList();
        }
    }

    private async Task HandleBookCreate()
    {
        var response = await BookService.CreateAsync(_book);
        if (response.Success)
        {
            NavigationManager.NavigateTo("/books/");
        }
    }

}