@page "/lendConfigs"
@inject ILendConfigService LendConfigService 
@inject NavigationManager NavigationManager
@inject MessageService MessageService
@inject ModalService ModalService


<PageContainer Title="LendConfig">
    <Content>
        <Card>
            <Button OnClick="@(() => NavigationManager.NavigateTo("/lendConfigs/create"))">创建借阅规则</Button>
        </Card>
    </Content>
    <ChildContent>
        <Card>
            <Table DataSource="_lendConfigs" TItem="LendConfigDto">
                <Selection Key="@(context.Id.ToString())"/>
                <Column @bind-Field="@context.Id" Sortable/>
                <Column @bind-Field="@context.ReaderGrade" Sortable/>
                <Column @bind-Field="@context.MaxLendDays" Sortable/>
                <Column @bind-Field="@context.MaxLendNumber" Sortable/>
                <ActionColumn>
                    <Space>
                        <SpaceItem>
                            <Button Danger OnClick="@(async () => await Delete(context.Id))">Delete</Button>
                        </SpaceItem>
                        <SpaceItem>
                            <a href="/lendConfigs/detail/@context.Id">Details</a>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>
        </Card>
    </ChildContent>
</PageContainer>

@code {

    private List<LendConfigDto> _lendConfigs = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await LendConfigService.GetAsync();
        if (response.Success)
        {
            _lendConfigs = response.Data;
        }
    }

    private Task Delete(Guid guid)
    {
        var category = _lendConfigs.First(q => q.Id == guid);
        ModalService.Confirm(new ConfirmOptions()
        {
            Title = "删除借阅规则",
            Content = $"是否删除Id为：{category.Id}的借阅规则?",
            OnOk = async _ =>
            {
                var response = await LendConfigService.DeleteAsync(guid.ToString());
                if (response.Success)
                {
                    await OnInitializedAsync();
                }
                else
                {
                    await MessageService.Error(response.Message);
                }
            },
            OkType = "danger",
        });
        return Task.CompletedTask;
    }

}