@page "/account/center/UpdateUserGrade"
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject MessageService MessageService

<PageContainer Title="修改读者等级">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Account</BreadcrumbItem>
            <BreadcrumbItem>UpdateUserGrade</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>

    <ChildContent>
        <Card>
            <Form Model="@_userGradeDto" OnFinish="HandleUpdate">
                <FormItem>
                    <Input @bind-Value="@context.UserId" Placeholder="请输入用户Id"/>
                </FormItem>
                <FormItem Label="请选择等级">
                    <AutoComplete @bind-Value="@context.Grade" Options="@_grades"/>
                </FormItem>
                <FormItem>
                    <Button Type="submit">修改读者等级</Button>
                </FormItem>
                <Button OnClick="@(() => NavigationManager.NavigateTo("/account/center"))">返回列表</Button>
            </Form>
        </Card>
    </ChildContent>
</PageContainer>

@code {
    private UpdateUserGradeDto _userGradeDto;

    private readonly List<byte> _grades = new() {1, 2, 3, 4};

    private async Task HandleUpdate()
    {
        var response = await UserService.UpdateUserGrade(_userGradeDto.UserId, byte.Parse(_userGradeDto.Grade));
        if (response.Success)
        {
            NavigationManager.NavigateTo("/account/center");
        }
        else
        {
            await MessageService.Error(response.Message);
        }
    }

}