<Table TItem="CategoryDto" DataSource="@CategoryDtos" >
    <Selection Key="@(context.Id.ToString())"/>
    <AntDesign.Column @bind-Field="@context.Id" Sortable/>
    <AntDesign.Column @bind-Field="@context.Name" Sortable/>
    <AntDesign.Column @bind-Field="@context.Summary" Sortable/>
    <ActionColumn>
        <Space>
            <SpaceItem>
                <Button Danger OnClick="@(async () => await Delete(context.Id))">Delete</Button>
            </SpaceItem>
            <SpaceItem>
                <a href="/categories/detail/@context.Id">Details</a>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>

@code {

    [Parameter]
    public List<CategoryDto> CategoryDtos { get; set; }

    [Parameter]
    public EventCallback<Guid> OnDelete { get; set; }
    
    private async Task Delete(Guid guid)
    {
        await OnDelete.InvokeAsync(guid);
    }

}